In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Adrar,MR,20.5022,-10.0711,89.10,32,93,7.31,light rain
1,1,Puerto Ayora,EC,-0.7393,-90.3518,65.55,92,85,5.01,overcast clouds
2,2,Port Macquarie,AU,-31.4333,152.9167,62.89,61,4,7.31,clear sky
3,3,Colac,AU,-38.3333,143.5833,56.08,60,92,2.64,overcast clouds
4,4,Kieta,PG,-6.2167,155.6333,85.62,62,28,4.83,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Adrar,MR,20.5022,-10.0711,89.10,32,93,7.31,light rain
4,4,Kieta,PG,-6.2167,155.6333,85.62,62,28,4.83,scattered clouds
5,5,Bathsheba,BB,13.2167,-59.5167,79.41,94,40,5.75,light rain
7,7,Sao Filipe,CV,14.8961,-24.4956,78.06,71,69,7.61,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,77.16,78,75,8.05,broken clouds
13,13,Lorengau,PG,-2.0226,147.2712,85.21,67,27,9.08,scattered clouds
17,17,Rapid Valley,US,44.0625,-103.1463,75.40,44,0,14.97,clear sky
21,21,Keti Bandar,PK,24.1447,67.4497,81.03,67,25,10.54,scattered clouds
26,26,Kapaa,US,22.0752,-159.3190,81.12,79,100,18.41,overcast clouds
27,27,Butaritari,KI,3.0707,172.7902,82.35,75,66,16.51,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Adrar,MR,20.5022,-10.0711,89.10,32,93,7.31,light rain
4,4,Kieta,PG,-6.2167,155.6333,85.62,62,28,4.83,scattered clouds
5,5,Bathsheba,BB,13.2167,-59.5167,79.41,94,40,5.75,light rain
7,7,Sao Filipe,CV,14.8961,-24.4956,78.06,71,69,7.61,broken clouds
9,9,Vaini,TO,-21.2000,-175.2000,77.16,78,75,8.05,broken clouds
13,13,Lorengau,PG,-2.0226,147.2712,85.21,67,27,9.08,scattered clouds
17,17,Rapid Valley,US,44.0625,-103.1463,75.40,44,0,14.97,clear sky
21,21,Keti Bandar,PK,24.1447,67.4497,81.03,67,25,10.54,scattered clouds
26,26,Kapaa,US,22.0752,-159.3190,81.12,79,100,18.41,overcast clouds
27,27,Butaritari,KI,3.0707,172.7902,82.35,75,66,16.51,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Current Description', 'Lat', 'Lng']].copy()

# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
0          Adrar      MR     89.10          light rain  20.5022  -10.0711
4          Kieta      PG     85.62    scattered clouds  -6.2167  155.6333
5      Bathsheba      BB     79.41          light rain  13.2167  -59.5167
7     Sao Filipe      CV     78.06       broken clouds  14.8961  -24.4956
9          Vaini      TO     77.16       broken clouds -21.2000 -175.2000
13      Lorengau      PG     85.21    scattered clouds  -2.0226  147.2712
17  Rapid Valley      US     75.40           clear sky  44.0625 -103.1463
21   Keti Bandar      PK     81.03    scattered clouds  24.1447   67.4497
26         Kapaa      US     81.12     overcast clouds  22.0752 -159.3190
27    Butaritari      KI     82.35          light rain   3.0707  172.7902

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Adrar,MR,89.10,light rain,20.5022,-10.0711,
4,Kieta,PG,85.62,scattered clouds,-6.2167,155.6333,
5,Bathsheba,BB,79.41,light rain,13.2167,-59.5167,
7,Sao Filipe,CV,78.06,broken clouds,14.8961,-24.4956,
9,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Adrar,MR,89.10,light rain,20.5022,-10.0711,
4,Kieta,PG,85.62,scattered clouds,-6.2167,155.6333,Uruna Bay Retreat
5,Bathsheba,BB,79.41,light rain,13.2167,-59.5167,Atlantis Hotel
7,Sao Filipe,CV,78.06,broken clouds,14.8961,-24.4956,Hotel Xaguate
9,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
13,Lorengau,PG,85.21,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Rapid Valley,US,75.40,clear sky,44.0625,-103.1463,Fairfield Inn & Suites by Marriott Rapid City
21,Keti Bandar,PK,81.03,scattered clouds,24.1447,67.4497,Haji laloo memon house
26,Kapaa,US,81.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Butaritari,KI,82.35,light rain,3.0707,172.7902,Isles Sunset Lodge

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kieta,PG,85.62,scattered clouds,-6.2167,155.6333,Uruna Bay Retreat
5,Bathsheba,BB,79.41,light rain,13.2167,-59.5167,Atlantis Hotel
7,Sao Filipe,CV,78.06,broken clouds,14.8961,-24.4956,Hotel Xaguate
9,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
13,Lorengau,PG,85.21,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Rapid Valley,US,75.40,clear sky,44.0625,-103.1463,Fairfield Inn & Suites by Marriott Rapid City
21,Keti Bandar,PK,81.03,scattered clouds,24.1447,67.4497,Haji laloo memon house
26,Kapaa,US,81.12,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Butaritari,KI,82.35,light rain,3.0707,172.7902,Isles Sunset Lodge
29,Nishihara,JP,82.45,few clouds,26.1842,127.7558,Minshuku Agaihama

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [12]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [13]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [14]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Uruna Bay Retreat</dd>\n<dt>City</dt><dd>Kieta</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>light rain and 79.41 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Xaguate</dd>\n<dt>City</dt><dd>Sao Filipe</dd>\n<dt>Country</dt><dd>CV</dd>\n<dt>Current Weather</dt><dd>broken clouds and 78.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 85.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Fairfield Inn & Suites by Marriott Rapid City</dd>\n<dt>City</dt><dd>Rapid Valley</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Haji laloo memon house</dd>\n<dt>City</dt><dd>Keti Bandar</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>light rain and 82.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Minshuku Agaihama</dd>\n<dt>City</dt><dd>Nishihara</dd>\n<dt>Country</dt><dd>JP</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.45 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [15]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
4   -6.2167  155.6333
5   13.2167  -59.5167
7   14.8961  -24.4956
9  -21.2000 -175.2000
13  -2.0226  147.2712
17  44.0625 -103.1463
21  24.1447   67.4497
26  22.0752 -159.3190
27   3.0707  172.7902
29  26.1842  127.7558

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [16]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))